/**
*
* {{ properCase name }}
*
*/
import * as React from "react";
import 'styles/{{ properCase name }}.less';

export interface Props { }
export interface States { }

export default class {{ properCase name }} extends React.Component<Props, States> {
constructor(props:Props,context:any){
    super(props,context);
        this.state = {

        };
    }
    render() {
        return <div className="{{ properCase name }}Component">content</div>;
    }
}
